*{
    margin: 0px;
    padding: 0px;
    box-sizing: auto;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: 'Flamenco', cursive;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../image/food-wallpaper-17.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


input{
    width: 430px;
    margin-bottom: 20px;
    padding: 10px;
    
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: lighter;
    background: transparent;
}
::placeholder
{
    color: #FFF;
}

#main-wrapper{
    cursor: pointer;
    border-radius : 10px;
    background-color: transparent;
    width: 1000px;
    height: 500px;
    top: 40%;
    left: 55%;
    position: absolute;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

.main-sav{
    float: right;
    margin-top: 50px;
}

.main-sav li{
    display: inline-block;
    list-style: none;
    margin-left: 950px;
}


.main-sav li a{
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 100;
}


.main-sav li a:hover{
    border-bottom: 2px solid #bf55ec;
}

.inner_container{
    width:450px;
    margin:0 auto;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
}

.login_button {
    background-color: transparent;
    color: #fff;
    margin-left: 50px;
    border: 1px solid #fff;

}

.login_button:hover {
    background-color: #bf55ec;
}


.register_btn{
    background-color: transparent;
    color: #fff;
    margin-left: 50px;
    border: 1px solid #fff;
}

.register_btn:hover{
    background-color: #bf55ec;
}

.sign_up_btn {
   background-color: transparent;
    color: #fff;
    margin-left: 50px;
    border: 1px solid #fff;
}

.sign_up_btn:hover {
   background-color: #bf55ec;
}

.back_btn{
    background-color: transparent;
    color: #fff;
    margin-left: 50px;
    border: 1px solid #fff;
}

.back_btn:hover {
    background-color: #bf55ec;
}

.click-here{
    background-color: transparent;
    color: #fff;
    margin-left: 10px;
    border: 0px;
}

.click-here:hover {
    background-color: #bf55ec;
}

.logout_button{
    background-color: transparent;
    color: #fff;
    margin-left: 10px;
    border: 1px solid #fff;
}

.logout_button:hover {
    background-color: #bf55ec;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    margin: 16px;
    width:100%;
}

.colorchange{
    animation: colorchangemy 1s infinite;
}

@keyframes colorchangemy{
    0%{color: red;}
    25%{color: #bf55ec}
    50%{color: white;}
    100%{color: #bf55ec}
}


.mobile-icon{display: none;}

/*///responsibe query///*/

@media only screen and (max-width: 1180px){
    .main-content-header{
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 998px){
    h1{font-size: 200%;}
}


@media only screen and (max-width: 768px){
    h1{font-size: 180%;}

    .main-sav{display: none;}

    .mobile-icon{display: inline-block;
        color: #fff;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }

    .main-sav{
        float: left;
    }

    .main-sav li{
        display: block;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px){
    .btn-full{
         margin-bottom: 20px;
    }

     h1{font-size: 160%;}

}
